/*reset das propriedades*/
* {
    margin: 0;
    padding: 0;
}
/*corpo - características gerais*/
body {
    background-color: #FFFFFF;
}
div.container {
    background-image: url(img/turtle-figure.png), url(img/star1-figure.png), url(img/star2-figure.png), url(img/fish1-figure.png), url(img/fish2-figure.png);
    background-position: bottom 550px left 200px, bottom 300px left 200px, bottom 250px left 300px, bottom 380px right 220px, bottom 480px right 120px;
    background-repeat: no-repeat;
    

    background-color: rgb(0, 99, 190);
    width: 1281px;
    height: 902px;
    margin: 61px 80px 61px 80px;
    border-radius: 24px;
}
/*posicionamento da logo do projeto*/
.logo img {
    position: relative;
    top: 47.79px;
    left: 51.05px;
}
/*direcionamento de login e signup*/
nav {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 20px;
    right: 51.05px;
}

a {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;    
}

a.login{
    order: 1;
    margin-right: 28px;
    color: #FFFFFF;
}
a.signup{
    color: #000000;
    background-color: #FFFFFF;
    border: solid 1px #FFFFFF;
    border-radius: 73px;
    width: 100px;
    height: 30px;
    padding-top: 10px;
    position: relative;
    top: -12px;
}


/*conteúdo principal*/
main {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 280px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;


}
main p {
    font-weight: 400;
    font-size: 32px;
}
main h1 {
    font-weight: 500;
    font-size: 128px;
    margin-top: -16px;
}
main a {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    border: solid 1px white;
    border-radius: 4px;
    color: #25517AC7;
    padding: 12px 26px 12px 26px;
    margin-top: -18px;
}